In [2]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [7]:
# Read the CSV files into DataFrames.
sales_2020 = pd.read_csv('Resources/athletic_sales_2020.csv')
sales_2021 = pd.read_csv('Resources/athletic_sales_2021.csv')

In [8]:
# Display the 2020 sales DataFrame
print("2020 Sales DataFrame:")
print(sales_2020.head())

2020 Sales DataFrame:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [9]:
# Display the 2021 sales DataFrame
print("2021 Sales DataFrame:")
print(sales_2021.head())

2021 Sales DataFrame:
    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

#### Check the data types of each DataFrame

In [10]:
# Check the 2020 sales data types.
print("\n2020 Sales Data Types:")
print(sales_2020.dtypes)

2020 Sales Data Types:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [11]:
# Check the 2021 sales data types.
print("\n2021 Sales Data Types:")
print(sales_2021.dtypes)

2021 Sales Data Types:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [12]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales = pd.concat([sales_2020, sales_2021], axis=0).reset_index(drop=True)
print("\nCombined Sales DataFrame:")
print(combined_sales.head())

Combined Sales DataFrame:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [13]:
# Check if any values are null.
print("\nNull Values in Combined DataFrame:")
print(combined_sales.isnull().sum())

Null Values in Combined DataFrame:
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [14]:
# Check the data type of each column
print("\nData Types in Combined DataFrame:")
print(combined_sales.dtypes)

Data Types in Combined DataFrame:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [15]:
# Convert the "invoice_date" to a datetime datatype
combined_sales["invoice_date"] = pd.to_datetime(combined_sales["invoice_date"], errors="coerce")

C:\Users\Owner\AppData\Local\Temp\ipykernel_18524\1996872999.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_sales["invoice_date"] = pd.to_datetime(combined_sales["invoice_date"], errors="coerce")

In [16]:
# Confirm that the "invoice_date" data type has been changed.
print("\nUpdated Data Types in Combined DataFrame:")
print(combined_sales.dtypes)

Updated Data Types in Combined DataFrame:
retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [17]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
products_sold = combined_sales.groupby(["region", "state", "city"]).agg(Total_Products_Sold=("units_sold", "sum"))

# Show the top 5 results.
print("\nTop 5 Regions by Total Products Sold:")
print(products_sold.sort_values(by="Total_Products_Sold", ascending=False).head(5))

Top 5 Regions by Total Products Sold:
                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

#### Using `pivot_table`

In [18]:
# Show the number products sold for region, state, and city.
sales_by_region = combined_sales.groupby(["region", "state", "city"]).agg(Total_Sales=("total_sales", "sum"))


# Rename the "units_sold" column to "Total_Products_Sold"

# Show the top 5 results.
print("\nTop 5 Regions by Total Sales:")
print(sales_by_region.sort_values(by="Total_Sales", ascending=False).head(5))

Top 5 Regions by Total Sales:
                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [19]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
sales_by_retailer = combined_sales.groupby(["retailer", "region", "state", "city"]).agg(Total_Sales=("total_sales", "sum"))

# Show the top 5 results.
print("\nTop 5 Retailers by Total Sales:")
print(sales_by_retailer.sort_values(by="Total_Sales", ascending=False).head(5))

Top 5 Retailers by Total Sales:
                                                    Total_Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

#### Using `pivot_table`

In [29]:
# Show the total sales for the products sold for each region, state, and city.
sales_pivot = combined_sales.pivot_table(
    index=["region", "state", "city"],
    values="total_sales",
    aggfunc="sum"
)

# Optional: Rename the "total_sales" column to "Total Sales"
sales_pivot.rename(columns={"total_sales": "Total Sales"}, inplace=True)

# Show the top 5 results.
top_5_sales = sales_pivot.sort_values(by="Total Sales", ascending=False).head(5)
print("\nTop 5 Regions by Total Sales:")
print(top_5_sales)

Top 5 Regions by Total Sales:
                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [30]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
sales_grouped = combined_sales.groupby(["retailer", "region", "state", "city"]).agg(
    Total_Sales=("total_sales", "sum")
)

# Show the top 5 results.
top_5_sales = sales_grouped.sort_values(by="Total_Sales", ascending=False).head(5)
print("\nTop 5 Retailers by Total Sales:")
print(top_5_sales)

Top 5 Retailers by Total Sales:
                                                    Total_Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

#### Using `pivot_table`

In [21]:
# Show the total sales for the products sold for each retailer, region, state, and city.
sales_pivot = combined_sales.pivot_table(
    index=["retailer", "region", "state", "city"],
    values="total_sales",
    aggfunc="sum"
)

# Optional: Rename the "total_sales" column to "Total Sales"
sales_pivot.rename(columns={"total_sales": "Total Sales"}, inplace=True)

# Show the top 5 results.
top_5_sales = sales_pivot.sort_values(by="Total Sales", ascending=False).head(5)
print("\nTop 5 Retailers by Total Sales:")
print(top_5_sales)

Top 5 Retailers by Total Sales:
                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [22]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_footwear_sales = combined_sales[combined_sales["product"] == "Women's Athletic Footwear"]

#### Using `groupby`

In [28]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_sales = combined_sales[combined_sales["product"] == "Women's Athletic Footwear"]
womens_footwear_grouped = womens_footwear_sales.groupby(["retailer", "region", "state", "city"]).agg(
    Womens_Footwear_Units_Sold=("units_sold", "sum")
)

top_5_womens_footwear = womens_footwear_grouped.sort_values(by="Womens_Footwear_Units_Sold", ascending=False).head(5)

# Show the top 5 results.
print("\nTop 5 Retailers for Women's Athletic Footwear Sales:")
print(top_5_womens_footwear)

Top 5 Retailers for Women's Athletic Footwear Sales:
                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

#### Using `pivot_table`

In [24]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_footwear_units = womens_footwear_sales.groupby(["retailer", "region", "state", "city"]).agg(
    Womens_Footwear_Units_Sold=("units_sold", "sum")
)

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"


# Show the top 5 results.
print("\nTop 5 Retailers for Women's Athletic Footwear Sales:")
print(womens_footwear_units.sort_values(by="Womens_Footwear_Units_Sold", ascending=False).head(5))

Top 5 Retailers for Women's Athletic Footwear Sales:
                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [25]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
sales_pivot = combined_sales.pivot_table(index="invoice_date", values="total_sales", aggfunc="sum")
sales_pivot.rename(columns={"total_sales": "Total_Sales"}, inplace=True)  # Optional rename

# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.
print("\nSales Pivot Table by Date:")
print(sales_pivot.head())

Sales Pivot Table by Date:
              Total_Sales
invoice_date
2020-01-01         845141
2020-01-02         689410
2020-01-03         632573
2020-01-04         615080
2020-01-05         707829

In [26]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = sales_pivot.resample("D").sum()

# Sort the resampled pivot table in descending order on "Total Sales".
top_daily_sales = daily_sales.sort_values(by="Total_Sales", ascending=False)
print("\nTop 10 Days by Total Sales:")
print(top_daily_sales.head(10))

Top 10 Days by Total Sales:
              Total_Sales
invoice_date
2021-07-16       12261098
2021-12-16       10871121
2021-06-17       10239903
2021-08-17        9517031
2021-07-23        7689134
2021-11-17        7298791
2021-12-09        7257917
2020-04-24        7050982
2021-07-09        6854359
2021-06-24        6428692

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [27]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = sales_pivot.resample("W").sum()

# Sort the resampled pivot table in descending order on "Total Sales".
top_weekly_sales = weekly_sales.sort_values(by="Total_Sales", ascending=False)
print("\nTop 10 Weeks by Total Sales:")
print(top_weekly_sales.head(10))

Top 10 Weeks by Total Sales:
              Total_Sales
invoice_date
2021-07-11       26271380
2021-07-18       24731702
2021-12-19       24698535
2021-12-12       23250286
2021-08-22       22225401
2021-08-15       22037822
2021-06-13       21183998
2021-05-16       19779030
2021-07-25       19581545
2021-06-20       19085993